.post {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 410px;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 50px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(22, 28, 34);  
    transition: 0.1s;
    height: 360px;
}

.post:hover {
    background-color: rgb(30, 33, 41);  
}

.post h2 {
    color: rgb(176, 180, 157);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.introduction {
    color: rgb(224, 224, 224);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;
}

.category {
    color: rgb(176, 180, 157);
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgb(176, 180, 157);
    border-radius: 5px;
}

.lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.read {
    font-size: 15px;
    font-weight: 700;
    color: rgb(197, 197, 197);
}